*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8E6;
    padding: 25px 10px;
}

.logo{
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.nav-item li{
    display: inline;
    padding:0 5px;
    font-size: 21px;
    text-transform: capitalize;
}

.nav-item a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.nav-item a:hover{
    color: #000;
    border-bottom: 3px #34B7A7 solid;
}

.about{
    border-bottom: 3px #34B7A7 solid;
}


.social-item li {
    display: inline;
    padding: 0 3px;
    font-size: 16px;
}

.social-item a{
    text-decoration: none;
    font-size: 20px;
}

.threeBar{
    display: none;
}

.threeBar p{
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-top: 4px;
}


@media screen and (max-width:720px){
    .threeBar{
        display: block;
    }
    .nav-item{
        display: none;
    }
}


.intro{
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}

.intro h1{
    padding: 0 0 30px 0;
    position: relative;
}

.intro h1::before{
    content:"";
    position: absolute;
    background-color: #34B7A7;
    width: 95px;
    height: 3px;
    top:  35px;
}

.intro p{
    font-size: 18px;
    color: #7A7A7A;
}


.content{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}


.content img{
    width: 300px;
    height: auto;

}

.me{
    padding: 0 10px;
}

.me p{
    
    margin: 20px 0;
    color: #7A7A7A;
}

.my-info{
    display: flex;
    font-family: sans-serif;
    flex-flow: row wrap;
    
}

.my-info strong{
    text-transform: capitalize;
}

.my-info ul{
    list-style: none;
    margin:  5px 0;
}

.my-info li{
    margin: 15px;
}

.my-skills{
    margin: 30px 0;
}

.my-skills .skills{
    
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}


.my-skills .skills h1{
    padding: 0 0 30px 0;
    position: relative;
}

.my-skills .skills h1::before{
    content:"";
    position: absolute;
    background-color: #34B7A7;
    width: 90px;
    height: 3px;
    top:  35px;
}

.my-skills .skills p{
    font-size: 18px;
    color: #7A7A7A;
}



.web-dev{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-flow: wrap row;
    display: none;
    transition: 2s;
}

.web-dev {
    display: flex;
}

.web-dev p{
    margin-top: 15px;
}

.front, .back{
    width: 48%;
    margin-left: 2%;
}


.html{
    position: relative;
    width: 80%;
    height: 7px;
    background-color: #34B7A7;
    box-sizing: border-box;
}

.css{
    position: relative;
    width: 60%;
    height: 7px;
    background-color: #34B7A7;
    box-sizing: border-box;
}

.js{
    position: relative;
    width: 50%;
    height: 7px;
    background-color: #34B7A7;
 
    box-sizing: border-box;
}
.mysql{
    position: relative;
    width: 70%;
    height: 7px;
    background-color: #34B7A7;

    box-sizing: border-box;
}
.nodejs{
    position: relative;
    width: 50%;
    height: 7px;
    background-color: #34B7A7;
    box-sizing: border-box;
}
.git{
    position: relative;
    width: 30%;
    height: 7px;
    background-color: #34B7A7;
    box-sizing: border-box;
}



.html::before{
    content: "Html";
    position: absolute;
    top: -20px;
}
.css::before{
    content: "Css";
    position: absolute;
    top: -20px;
}
.js::before{
    content: "JavaScript";
    position: absolute;
    top: -20px;
}
.nodejs::before{
    content: "Node js";
    position: absolute;
    top: -20px;
}
.mysql::before{
    content: "My Sql";
    position: absolute;
    top: -20px;
}
.git::before{
    content: "Git";
    position: absolute;
    top: -20px;
}


@media screen and (max-width:800px) {
    .web-dev{
        flex-direction: column
    }
    .front , .back{
           width: 100%;
    }
}


.my-facts{
    margin: 30px 0;
}

.my-facts .facts{
    
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}


.my-facts .facts h1{
    padding: 0 0 30px 0;
    position: relative;
}

.my-facts .facts h1::before{
    content:"";
    position: absolute;
    background-color: #34B7A7;
    width: 90px;
    height: 3px;
    top:  35px;
}

.my-facts .facts p{
    font-size: 18px;
    color: #7A7A7A;
}


.stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stat p{
    font-size: 30px;
    font-family: sans-serif;
    color: #34B7A7;
    position: relative;
}

.stat strong{
    color: rgb(82, 79, 79);
    font-size: 16px;
}

footer{
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
    background-color: #E9E8E6;
    padding: 20px 0;
}

.origin span{
    color: #34B7A7;
}

.top{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #34B7A7;
    position: fixed;
    text-align: center;
    bottom: 10px;
    right: 10px;
    padding:1px 0;
    box-sizing: border-box;
}
.top a{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}
