*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8E6;
    padding: 25px 10px;
}

.logo{
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.nav-item li{
    display: inline;
    padding:0 5px;
    font-size: 21px;
    text-transform: capitalize;
}

.nav-item a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.nav-item a:hover{
    color: #000;
    border-bottom: 3px #34B7A7 solid;
}

.resume{
    border-bottom: 3px #34B7A7 solid;
}


.social-item li {
    display: inline;
    padding: 0 3px;
    font-size: 16px;
}

.social-item a{
    text-decoration: none;
    font-size: 20px;
}

.threeBar{
    display: none;
}

.threeBar p{
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-top: 4px;
}


@media screen and (max-width:720px){
    .threeBar{
        display: block;
    }
    .nav-item{
        display: none;
    }
}


.res{
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}

.res h1{
    padding: 0 0 30px 0;
    position: relative;
}

.res h1::before{
    content:"";
    position: absolute;
    background-color: #34B7A7;
    width:138px;
    height: 3px;
    top:  35px;
}

.res p{
    font-size: 18px;
    color: #7A7A7A;
}

.my-resume {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    font-family: sans-serif;
    line-height: 25px;
}

.my-resume div{
    width: 45%;
}

.my-resume section{
    margin: 25px 0;
    position: relative;
}

.my-resume span{
    color: #1e6e65;
    font-size: 22px;
}

.my-resume ul{
    padding: 15px 0 0 20px;
}

.my-resume h1{
    color: #444;
    margin: 25px 0;

}



.my-resume section::before{
    position: absolute;
    content: "";
    background-color: #34B7A7;
    width: 3px;
    height: 85%;
    left: -10px;
    bottom: 0;
}


@media screen and (max-width:800px) {
    .my-resume div{
        width: 100%;
    }
    .my-resume{
        display: block;
        text-align: center;
        margin: 50px 20px;
    }

    .my-resume ul{
        list-style: none;
    }
}


footer{
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
    background-color: #E9E8E6;
    padding: 20px 0;
}

.origin span{
    color: #34B7A7;
}