*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8E6;
    padding: 25px 10px;
}

.logo{
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.nav-item li{
    display: inline;
    padding:0 5px;
    font-size: 21px;
    text-transform: capitalize;
}

.nav-item a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.nav-item a:hover{
    color: #000;
    border-bottom: 3px #34B7A7 solid;
}



.services{
    border-bottom: 3px #34B7A7 solid;
}


.social-item li {
    display: inline;
    padding: 0 3px;
    font-size: 16px;
}

.social-item a{
    text-decoration: none;
    font-size: 20px;
}

.threeBar{
    display: none;
}

.threeBar p{
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-top: 4px;
}


@media screen and (max-width:720px){
    .threeBar{
        display: block;
    }
    .nav-item{
        display: none;
    }
}


.serv{
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}

.serv h1{
    padding: 0 0 30px 0;
    position: relative;
}

.serv h1::before{
    content:"";
    position: absolute;
    background-color: #34B7A7;
    width: 165px;
    height: 3px;
    top:  35px;
}

.serv p{
    font-size: 18px;
    color: #7A7A7A;
}

.content{
    padding: 50px;

}


.content ul{
    display: flex;
    list-style: none;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 25px 10px;
}

.content ul img{
    width: 100px;
    height: 100px;
}



.content li{
    box-shadow: 3px 3px 20px rgb(204, 203, 203);
    padding: 40px 5px;
    box-sizing: border-box;
    margin: 10px;
}

@media screen and (maw-width:800px) {
    .content li{
       display: block;
    }
}


.content li {
    font-family: sans-serif;
}

.content h2{
    padding:15px 0;
    color: #6b6b6b;
}

.content p{
    color: #a5a5a5;
    padding: 0 10px;
}

footer{
    text-align: center;
    font-size: 20px;
    background-color: #E9E8E6;
    padding:32px 0;
}

.origin span{
    color: #34B7A7;
}
