*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E8E6;
    padding: 25px 10px;
    box-shadow: 2px 2px 10px #444;
}

.logo{
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.nav-item li{
    display: inline;
    padding:0 5px;
    font-size: 21px;
    text-transform: capitalize;
}

.nav-item a{
    text-decoration: none;
    color: rgb(83, 82, 82);
}

.nav-item a:hover{
    color: #000;
    border-bottom: 3px #34B7A7 solid;
}

.home{
    border-bottom: 3px #34B7A7 solid;
}


.social-item li {
    display: inline;
    padding: 0 3px;
    font-size: 16px;
}

.social-item a{
    text-decoration: none;
    font-size: 20px;
}

.threeBar{
    display: none;
    cursor: pointer;
}

.threeBar p{
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-top: 4px;
}


@media screen and (max-width:720px){
    .threeBar{
        display: block;
    }
    .nav-item{
        display: none;
    }
}


.main{
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: top right; 
    width: 100%;
    height: 70vh;

}


.main section{
    text-align: center;
    padding-top: 10%;
}

.main h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    margin-bottom: 15px;
}

.main p{
   font-size: 33px;
   color: rgb(187, 186, 186);
   margin-bottom: 15px;
}

.main a{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
}

@media screen and (max-width:600px) {
    .main::before {
        content: "";
        background: rgba(255, 255, 255, 0.15);
        position: absolute;
        bottom: 95px;
        top: 87px;
        left: 0;
        right: 0;
}

}


footer{
    text-align: center;
    font-size: 20px;
    background-color: #E9E8E6;
    padding:32px 0;
}

.origin span{
    color: #34B7A7;
}

